VideoAI/__pycache__/__init__.cpython-310.pyc
VideoAI/__pycache__/admin.cpython-310.pyc
VideoAI/__pycache__/apps.cpython-310.pyc
VideoAI/__pycache__/forms.cpython-310.pyc
VideoAI/__pycache__/models.cpython-310.pyc
VideoAI/__pycache__/VideoGen.cpython-310.pyc
VideoAI/__pycache__/views.cpython-310.pyc
VideoAI/migrations/__pycache__/__init__.cpython-310.pyc
VideoAI/migrations/__pycache__/0001_initial.cpython-310.pyc
VideoAI/static/src/audio/freetest4/seg_0.mp3
VideoAI/static/src/audio/freetest4/seg_1.mp3
VideoAI/static/src/audio/freetest4/seg_2.mp3
VideoAI/static/src/audio/freetest4/seg_3.mp3
VideoAI/static/src/audio/freetest4/seg_4.mp3
VideoAI/static/src/images/freetest4/image_part_0.jpg
VideoAI/static/src/images/freetest4/image_part_4.png
VideoAI/static/src/uploads/freetest4/user.txt
Web_VideoAI/__pycache__/__init__.cpython-310.pyc
Web_VideoAI/__pycache__/settings.cpython-310.pyc
Web_VideoAI/__pycache__/urls.cpython-310.pyc
Web_VideoAI/__pycache__/wsgi.cpython-310.pyc
VideoAI/static/seg_0TEMP_MPY_wvf_snd.mp3
VideoAI/static/seg_1TEMP_MPY_wvf_snd.mp3
VideoAI/static/seg_2TEMP_MPY_wvf_snd.mp3
VideoAI/static/seg_3TEMP_MPY_wvf_snd.mp3
VideoAI/static/seg_4TEMP_MPY_wvf_snd.mp3
VideoAI/static/src/audio/freetest4/seg_0.mp3
VideoAI/static/src/audio/freetest4/seg_1.mp3
VideoAI/static/src/audio/freetest4/seg_2.mp3
VideoAI/static/src/audio/freetest4/seg_3.mp3
VideoAI/static/src/audio/freetest4/seg_4.mp3
VideoAI/static/src/images/freetest4/image_part_0.jpg
VideoAI/static/src/uploads/freetest4/user.txt
VideoAI/static/src/video/freetest4/seg_0.mp4
VideoAI/static/src/video/freetest4/seg_1.mp4
VideoAI/static/src/video/freetest4/seg_2.mp4
VideoAI/static/src/video/freetest4/seg_3.mp4
VideoAI/static/src/video/freetest4/seg_4.mp4
VideoAI/static/src/audio/freetest8/seg_0.mp3
VideoAI/static/src/audio/freetest8/seg_1.mp3
VideoAI/static/src/audio/freetest8/seg_2.mp3
VideoAI/static/src/images/freetest8/image_part_0.jpg
VideoAI/static/src/images/freetest8/image_part_1.jpg
VideoAI/static/src/images/freetest8/image_part_2.jpg
VideoAI/static/src/templates/freetest8/design1.jpg
VideoAI/static/src/templates/freetest8/design2.jpg
VideoAI/static/src/templates/freetest8/design3.jpg
VideoAI/static/src/templates/freetest8/design4.jpg
VideoAI/static/src/uploads/freetest8/user.txt
media/
