<!DOCTYPE html>
<html lang="fr">
<style>.navbar{
    z-index: 999;
    position: absolute;
    width: 100%;
}


.carousel{
    z-index: 997;
    position: relative;
}

.carousel-inner{
    height: 944px;
}

.div_sep{
    height: 100px;
    background-color: white;
}

ul{
  position: relative;
  left: 75%;
}

.nav-item::hover{
  color: white;
  background-color: blue;
}

h1{
  text-align: center;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}

footer{
  background-color: #3b3b3b;
}

.footer-copyright{
  color: white;
}</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VideoAI</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">VideoAI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/register">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">   
          <img src="https://cdn.pixabay.com/photo/2020/11/07/10/25/machine-learning-5720531_960_720.png" class="d-block w-100" alt="Fond-header">
      </div>
    </div>
  </div>
  <p style="text-align:center; justify:center; padding-bottom: 35px;"> VideoAI is full fledged web application which can convert your text to high definition video <br>
                                                 To get started you can register yourself with your personal gmail and username <br>
                                                 we can use your gmail to send your customized video and future updates.
  </p>
    
     
  


</body>
</html>